<div>
  <div
    [routerLink]="['/planets', planet().id]"
    class="card bg-base-100 w-96 min-h-137.5 shadow-sm rounded-md cursor-pointer group hover:scale-105 transition-all duration-500"
  >
    <div class="h-80 rounded-md">
      <img
        class="w-full h-full object-cover rounded-t-2xl"
        [src]="planet().image"
        [alt]="planet().name"
      />
    </div>
    <div class="card-body bg-base-300 flex flex-col h-full">
      <h2 class="card-title text-accent">{{ planet().name }}</h2>
      <div class="line-clamp-5 mb-5">
        {{ planet().description }}
      </div>
      <div class="flex gap-2 items-center">
        <div
          [class.bg-red-500]="planet().isDestroyed === true"
          [class.badge-info]="planet().isDestroyed === false"
          class="badge rounded-full badge-sm font-medium"
        >
          {{ planet().isDestroyed === true ? 'Destroyed' : 'Not Destroyed' }}
        </div>
      </div>
    </div>
  </div>
</div>
